body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0px;
    height: 100vh;
}

.header, .footer{
    background-color: #1F2937;
}

.header{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
}

.footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}